#header {
    background-color:#556FA2;
    color:white;
    text-align:center;
    padding:5px;
    margin:-8px -8px 0px;
}

#header img{
	margin-bottom: -5px;
    margin-top: 1px;
    width: 100%;
    height:169px;
}

.tabs{
	width:101%;
	 margin-left: -11px;
}

.tabs a {
    padding: 0.5em 8em;
}

#company-symbol {
    height: 46px;
    margin-top: 11px;
    width: 25%;
}